<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wmkfe.bookmanage.dao.ClassTableMapper" >
    <select id="getByDepartmentId" resultType="cn.wmkfe.bookmanage.model.ClassTable">
        select id, class_name,department_id from t_class_table
        where department_id=#{departmentId}
    </select>
</mapper>