<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wmkfe.bookmanage.dao.ReaderMapper" >
    <insert id="add" parameterType="cn.wmkfe.bookmanage.model.Reader">
       insert into t_reader (reader_id, password, t_reader.name, gender, avatar, phone, department, class)
       values (#{readerId},#{password},#{name},#{gender},#{avatar},#{phone},#{department},#{class})
    </insert>
    <delete id="delete" >
        delete from t_reader
        where reader_id in
        <foreach collection="array" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="cn.wmkfe.bookmanage.model.Reader">
        update t_reader
        <set>
            <if test="readerId !=null and readerId!=''">
                reader_id=#{readerId},
            </if>
            <if test="password !=null and password!=''">
                password=#{password},
            </if>
            <if test="name !=null and name!=''">
                t_reader.name=#{name},
            </if>
            <if test="gender !=null">
                t_Reader.gender=#{gender},
            </if>
            <if test="avatar !=null and avatar!=''">
                avatar=#{avatar},
            </if>
            <if test="phone !=null and phone!=''">
                t_Reader.phone=#{phone},
            </if>
            <if test="department !=null">
                department=#{department},
            </if>
            <if test="class !=null">
                class=#{class}
            </if>
        </set>
        where reader_id=#{readerId}
    </update>

    <select id="getByReaderId"  resultType="cn.wmkfe.bookmanage.model.Reader">
        select r.reader_id, r.password, r.name, r.gender, r.avatar, r.phone, r.department, r.class,
                 g.gender_name, c_t.class_name
        from t_reader as r
        left join t_gender as g
        on r.gender=g.id
        left join t_class_table as c_t
        on r.class=c_t.id
        where reader_id=#{readerId}
    </select>



    <select id="getList"  resultMap="getListMap">
        select Reader_id, Reader_name, author, b.type,type_name, price, press, number, isbn, cover, b.describe,lend_number
        from t_Reader as b
        left join t_type as t
        on b.`type`=t.`id`
        <where>
            <if test="keyword!=null and keyword!=''">
                INSTR (Reader_name,#{keyword}) OR INSTR(author,#{keyword})
            </if>
        </where>
        order by Reader_id ASC limit ${from},${pageSize}
    </select>

    <resultMap id="getListMap" type="cn.wmkfe.bookmanage.model.Reader">
        <id column="Reader_id" property="ReaderId"></id>
        <result column="Reader_name" property="ReaderName"/>
        <result column="author" property="author"/>
        <result column="type" property="type"/>

        <result column="price" property="price"/>
        <result column="press" property="press"/>
        <result column="number" property="number"/>
        <result column="isbn" property="isbn"/>
        <result column="cover" property="cover"/>
        <result column="describe" property="describe"/>
        <result column="lend_number" property="lendNumber"/>
        <association property="typeModel" javaType="cn.wmkfe.bookmanage.model.Type">
            <result column="type_name" property="typeName"/>
        </association>
    </resultMap>


    <select id="getTotal" resultType="int">
        select count(Reader_id)
        from t_Reader as b
        <where>
            <if test="keyword!=null and keyword!=''">
                INSTR (Reader_name,#{keyword}) OR INSTR(author,#{keyword})
            </if>
        </where>
    </select>
</mapper>